#background-img
{
    position: relative;

    width: 100vw;
    height: 65vh;

    object-fit: cover;
}


.main-img-text
{
    position: absolute;

    top: 30vh;
    right: 10rem;

    font-family: "yellowtail" , cursive;
    font-size: 15rem;
    word-spacing: 2rem;

    text-shadow: .5rem .5rem #f7f7f7;
}


.intro
{
    position: relative;
}


.section-header
{
    font-size: 10rem;
    text-align: center;
    font-family: "yellowtail" , cursive;

    margin-bottom: 10rem;
    font-weight: normal;
}


.section-paragraph
{
    font-size: 1.5rem;
    line-height: 7.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}


.intro > .intro-summary > .section-header
{
    margin-top: 10rem;
}


.intro > .intro-summary > .section-paragraph
{
    margin: 0 5rem;
}



.photos
{
    margin-top: 10rem;

    padding: 10rem 5rem;

    background-color: #d4d8dd;
}


.photo-layout
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 10rem;
    margin-bottom: 5rem;
}


.photo-layout > img
{
    max-width: calc((100vw - 10rem) / 2);
    width: calc((100vw - 10rem) / 2);
    height: calc((100vw - 10rem) / 2);
}


.involvement
{
    padding: 10rem 5rem;
}


.involvement > ul
{
    margin: 10rem 0;
    padding: 5rem 0;

    text-align: center;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #d4d8dd;
    border-radius: 2.5rem;
}


.involvement > ul > li
{
    margin: 5rem 0;
}


footer
{
    position: relative;

    padding-top: 10rem;

    background-color: #d4d8dd;
}


footer > .section-paragraph , .credit > .section-paragraph
{
    margin: 0 5rem;
}


.icon-layout
{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);

    margin: 10rem 5rem;

    padding: 10rem 5rem;
    background-color: #f7f7f7;
    border-radius: 2.5rem;
}


.icon-layout > a
{
    text-align: center;
    height: 10rem;
    overflow: hidden;

    margin: 0 auto;
}


.icon-layout > a > img
{
    height: 100%;
}


.credit > h2
{
    margin-bottom: 10rem;
}


.credit > h2 > a
{
    color: #000000;
}


.end-splash
{
    margin-top: 10rem;
}


.end-splash > img
{
    position: relative;

    object-fit: contain;
    width: 100vw;
}


.footer-img-text
{
    position: absolute;
    bottom: 30rem;
    left: 15rem;

    font-family: "yellowtail" , cursive;
    font-size: 15rem;
    word-spacing: 2rem;

    text-shadow: .5rem .5rem #f7f7f7;
}


@media screen and (min-width: 1200px) 
{
    .intro
    {
        display: grid;

        grid-template-columns: repeat(2 , 1fr);

        height: 100vh;
        
    }


    .intro-splash
    {
        overflow: hidden;
    }


    #background-img
    {
        height: 100%;
        width: 50vw;
    }


    .main-img-text
    {
        top: 50vh;
        left: 30vw;
        right: auto;
    }


    .section-paragraph
    {
        font-size: 2rem;
    }


    .photos
    {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;


    }


    .photos > .section-paragraph
    {
        margin: 0 13vw;
    }


    .photo-layout
    {
        margin-bottom: 0;
    }


    .photo-layout > img 
    {
        max-width: 25%;
        width: 25vw;
        height: 25vw;

        filter: grayscale(100%);

        transition: .5s;
    }


    .photo-layout > img:hover
    {
        filter: grayscale(0%);
    }


    .involvement
    {
        display: grid;
        grid-template-areas: 
            "header header"
            "text1 activities-block"
            /* ". activities-block" */
            "text2 activities-block";

        padding-left: 0;
        padding-right: 0;
        margin-left: 13vw;
        margin-right: 13vw;

        grid-column-gap: 10rem;
    }


    .involvement > .section-header
    {
        grid-area: header;
    }


    #involvement-p1
    {
        grid-area: text1;
    }


    #involvement-p2
    {
        grid-area: text2;
        vertical-align: bottom;
    }


    .involvement > ul 
    {
        grid-area: activities-block;

        margin: 0;
        padding: 5rem 10rem;
    }


    footer 
    {
        display: grid;
        grid-template-areas: 
            "end-splash paragraph1"
            "end-splash icons"
            "end-splash credit";

        padding-top: 0;
    }


    footer > .section-header
    {
        display: none;
    }


    footer > .section-paragraph
    {
        margin-top: 10rem;
        grid-area: paragraph1;
    }


    .icon-layout 
    {
        grid-area: icons;

        height: 5rem;

        padding: 5rem 0;

        margin: 0 5rem;
    }


    .icon-layout > a 
    {
        height: 5rem;
        overflow: hidden;

        transition: .2s;
    }


    .icon-layout > a:hover
    {
        transform: scale(1.2);
    }


    .icon-layout > a > img
    {
        height: 100%;
    }


    .credit
    {
        grid-area: credit;
    }


    .end-splash
    {
        margin-top: 0;
        grid-area: end-splash;
    }


    .end-splash > img
    {
        /* This moves the picture so that you can see Kassi */
        position: relative;
        right: 25vw;

        object-fit: contain;
        height: 100rem;
    }
}