header
{
    position: fixed;

    width: 100%;
    height: 10rem;

    background-color: #474A5A

    /* border-bottom-color: gray;
    border-bottom-width: 3px;
    border-bottom-style: solid; */
}


#top-nav > ul
{
    display: flex;

    width: 100%;
    height: 100%;

    margin: 0 13vw;
}


#top-nav > ul > li
{
    width: calc(74vw / 2);

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;

    padding-top: calc(3.5rem);
}


#top-nav > ul > li > a
{
    text-decoration: none;
    color: #000000;

    transition: .3s;
}


#top-nav > ul > li > a:hover
{
    color: #E2AC5B;
}



.header-space
{
    height: 10rem;
}